black @ file:///C:/b/abs_232028unhf/croot/black_1712698539555/work
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
cfgv @ file:///C:/b/abs_bcfw_izb61/croot/cfgv_1694506013806/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
distlib @ file:///C:/b/abs_2cagtc9d6u/croot/distlib_1678983701062/work
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flake8 @ file:///C:/b/abs_caud66drfv/croot/flake8_1708965316778/work
identify @ file:///C:/ci_311/identify_1676450604136/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mypy-extensions @ file:///C:/b/abs_8f7xiidjya/croot/mypy_extensions_1695131051147/work
nodeenv @ file:///C:/ci_311/nodeenv_1676453346009/work
packaging @ file:///C:/b/abs_cc1h2xfosn/croot/packaging_1710807447479/work
pathspec @ file:///C:/ci_311/pathspec_1679427644142/work
platformdirs @ file:///C:/ci_311/platformdirs_1676422658103/work
pre-commit @ file:///C:/b/abs_30vgkpzvpb/croot/pre-commit-split_1694777024931/work
pycodestyle @ file:///C:/b/abs_15nuk0qkf0/croot/pycodestyle_1701821084299/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
ukkonen @ file:///C:/ci_311/ukkonen_1676447679708/work
virtualenv @ file:///C:/b/abs_58qnupt4s8/croot/virtualenv_1679038266522/work
